/* app global css */
@font-face{
font-family: prompt-regular;
src:url(../assets/Arabica.ttf)
}
@font-face{
font-family: prompt-Italic;
src:url(../assets/Arabica-Italic.ttf)
}
@font-face{
font-family: prompt-sarabun;
src:url(../assets/THSarabun.ttf)
}
@font-face{
font-family: prompt-sarabun-bold;
src:url(../assets/THSarabun-Bold.ttf)
}

/* html{
  scroll-behavior: smooth;
} */
body{
  /* font-family: prompt-regular; */
  font-family: prompt-sarabun;
  color: #6E6B6B;
  font-size: calc(25px + 0.2vw);
}
.fontphone {
  font-size: calc(26px + 2vw);
}
.phone {
  font-size: calc(25px + 0.5vw);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.font {
  font-size: 30px;
}
.titilebold {
  font-family: prompt-sarabun-bold;
}
.titile {
  font-family: prompt-regular;
  color: #3f51b5;
}
.titilecenter {
  font-family: prompt-regular;
  color: #3f51b5;
  font-size: calc(30px + 0.5vw);
}
.boxtitile {
  font-family: prompt-regular;
  color: white;
}
.brx {
  border: 1px solid red;
}

.clblue {
  color: #3a9dff;
}
.clblue1 {
  color: #3f51b5;
}
.clblue2 {
  color: #304147;
}

.bggrey1 {
  background-color: #f3f4f5;
}
.bggrey2 {
  background-color: #dedede;
}
.bggrey3 {
  background-color: #e5ecef;
}
.bgblue {
  background-color: #3a9dff;
}
.bgblue1 {
  background-color: #64b2ff;
}
.bgblue2 {
  background-color: #3f51b5;
}
.bgbrown {
  background-color: #662a10;
}

.bgbottomall {
  background-color: #3a9dff;
}

.bgbottom {
  background-image: url("../statics/image/homepage4.png");
  background-repeat: no-repeat;
  background-position: top;
  max-width: 1920px;
  width: 100%;
  height: 730px;
}
.bgbottommb {
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}
.bghome {
  background-image: url("../statics/image/homepage-cover.jpg");
  background-repeat: no-repeat;
  background-position: top;
  max-width: 1280px;
  width: 100%;
  height: 500px;
}
.bgdiscovery {
  background-image: url("../statics/image/discovery/discovery-cover.jpg");
  background-repeat: no-repeat;
  background-position: top;
  max-width: 1280px;
  width: 100%;
  height: 500px;
}
.bgadventures {
  background-image: url("../statics/image/adventures/adventures-cover.jpg");
  background-repeat: no-repeat;
  background-position: top;
  max-width: 1280px;
  width: 100%;
  height: 500px;
}
.bgonet {
  background-image: url("../statics/image/onet/onet-cover.jpg");
  background-repeat: no-repeat;
  background-position: top;
  max-width: 1280px;
  width: 100%;
  height: 500px;
}
.bgabout {
  background-image: url("../statics/image/about.png");
  background-repeat: no-repeat;
  background-position: top;
  max-width: 1280px;
  width: 100%;
  height: 500px;
}
.bghotel {
  background-image: url("../statics/hotelheader.png");
  background-repeat: no-repeat;
  background-position: top;
  max-width: 1280px;
  width: 100%;
  height: 500px;
}
.loginhome {
  background-image: url("../statics/image/login/bg-login.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  max-width: 1920px;
  width: 100%;
  min-height: 900px;
  height: calc(100vh - 6ex);
}
.bgadmin {
  background-image: url("../statics/gateway/gatewaybg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  max-width: 1920px;
  width: 100%;
  min-height: 900px;
  height: calc(100vh - 6ex);
}
.bgadminMB {
  background-image: url("../statics/gateway/gatewaybg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  height: calc(100vh - 58px);
}
.loginadventures {
  background-image: url("../statics/image/loginadventures/adventures.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  max-width: 1920px;
  width: 100%;
  min-height: 900px;
  height: calc(100vh - 6ex);
}
.logindiscovery {
  background-image: url("../statics/image/logindiscovery/discovery.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  max-width: 1920px;
  width: 100%;
  min-height: 900px;
  height: calc(100vh - 6ex);
}
.loginonet {
  background-image: url("../statics/image/loginonet/onet.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  max-width: 1920px;
  width: 100%;
  min-height: 900px;
  height: calc(100vh - 6ex);
}
/* mind */
.bg {
  background-image: url("../statics/bg.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  /* background-color: #121212; */
  /* background-position: top; */
  /* background-size: 100vh; */
}
.bg-Mb {
  background-image: url("../statics/bg.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.f34 {
  font-size: 34px;
}
.f20 {
  font-size: 20px;
}
.f18 {
  font-size: 30px;
}
.f16 {
  font-size: 25px;
}
.f14 {
  font-size: 20px;
}
.f10 {
  font-size: 20px;
}
.caption {
  width: calc(28px + 1vw);
  height: calc(28px + 1vw);
  background-color: #027be1;
  color: #ffffff;
  /* font-size: calc(10px + 1vw); */
  font-weight: bold;
  line-height: calc(30px + 1vw);
  border-radius: 50%;
}
.caption3 {
  width: calc(23px + 1vw);
  height: calc(23px + 1vw);
  background-color: #027be1;
  color: #ffffff;
  /* font-size: calc(5px + 1vw); */
  font-weight: bold;
  line-height: calc(25px + 1vw);
  border-radius: 50%;
}
.btn1 {
  background-color: #3f51b5;
  color: #ffffff;
}
.caption2 {
  width: calc(28px + 1vw);
  height: calc(28px + 1vw);
  background-color: #38720b;
  color: #ffffff;
  /* font-size: calc(10px + 1vw); */
  font-weight: bold;
  line-height: calc(30px + 1vw);
  border-radius: 50%;
}

.label {
  text-align: left;
  padding-top: 0px;
  padding-left: 10px;
  /* font-size: calc(25px + 0.2vw); */
}
.label2 {
  font-size: calc(25px + 0.2vw);
}
.label3 {
  font-size: calc(30px + 0.2vw);
}
.special {
  border: 2px solid #ff6f00;
}
.cl1 {
  color: #3f51b5;
}
.cl {
  color: #e7f7ff;
}
.cl3 {
  color: #ffffff;
}
.cl4 {
  color: #ff6f00;
}

.bg1 {
  background: #3f51b5;
}
.bg2 {
  background-color: #e7f7ff;
}
.bg3 {
  background-color: #ffffff;
}
.bg4 {
  background-color: #ff6f00;
}
